<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dawnimpulse.auth">

    <application>
        <activity
            android:name=".TempActivity"
            android:theme="@style/AppTheme.NoActionBar.Translucent" />
    </application>

</manifest>